<div id="banner">
	<div class="banner_content">
		<h1>NoteNote</h1>
		<p>Your online notebook. Never forget an idea again</p>
		<button><%= link_to "Sign Up", new_user_registration_path %></button>
	</div>
</div>

<div id="testimonial">
	<div class="wrapper">
		<p class="quote">
			"The greates notebook application. Period."
		</p>
		<p class="name">
			Daniel Cardenas
		</p>
	</div>
</div>

<div id="callouts">
	<div class="callout_inner">
		<div class="wrapper">
			<div class="callout">
				<i class="fa fa-pencil"></i>
				<h2>Notes</h2>
				<p>Bespoke semiotics mixtape, skateboard cliche meggings jean shorts health goth VHS Etsy before they sold out forage blog aesthetic. Mlkshk normcore tofu, banh mi bicycle rights twee biodiesel jean shorts street art. Gentrify art party Neutra, selfies mixtape typewriter Kickstarter biodiesel put a bird on it ugh tote bag. Swag chillwave sriracha crucifix plaid, cronut 3 wolf moon church-key hoodie sustainable.</p>
			</div>
			<div class="callout">
				<i class="fa fa-rocket"></i>
				<h2>Notes</h2>
				<p>Bespoke semiotics mixtape, skateboard cliche meggings jean shorts health goth VHS Etsy before they sold out forage blog aesthetic. Mlkshk normcore tofu, banh mi bicycle rights twee biodiesel jean shorts street art. Gentrify art party Neutra, selfies mixtape typewriter Kickstarter biodiesel put a bird on it ugh tote bag. Swag chillwave sriracha crucifix plaid, cronut 3 wolf moon church-key hoodie sustainable.</p>
			</div>
			<div class="callout">
				<i class="fa fa-bolt"></i>
				<h2>Notes</h2>
				<p>Bespoke semiotics mixtape, skateboard cliche meggings jean shorts health goth VHS Etsy before they sold out forage blog aesthetic. Mlkshk normcore tofu, banh mi bicycle rights twee biodiesel jean shorts street art. Gentrify art party Neutra, selfies mixtape typewriter Kickstarter biodiesel put a bird on it ugh tote bag. Swag chillwave sriracha crucifix plaid, cronut 3 wolf moon church-key hoodie sustainable.</p>
			</div>
		</div>
	</div>
</div>

<div id="bottom_cta">
	<div class="wrapper">
		<h2>For Realz!</h2>
		<p>I want you to sign up... If you don't, I will find you!</p>
		<button><%= link_to "Click Me!!!", new_user_registration_path %></button>
	</div>
</div>

<footer>
	<p>&copy; Daniel Cardenas</p>
</footer>